body {
  padding: 0;
  margin: 0;
}

form {
  max-width: 25em;
  margin: 1em auto;
}
.body {
  background: url(../../assets/dark.png);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(0, 238, 255);
}
.body input{
  color: blueviolet;
  background-color: greenyellow;

}