<div class="container qts">
  <h1>Quotes</h1>
  <hr>

  <div class="row">
    <div class="col-md-6 ">
      <div class="card cd" *ngFor='let goal of goals;let i = index'>
        <div>
          <h4 id={{i}} appStrikethrough>{{goal.name}} <p class="post" >posted  {{goal.completeDate|date|uppercase}}</p></h4>
          <button (click)='toggleDetails(i)' class="btn btn-primary dt">Details</button>
        </div>

        <div class="card cdd" *ngIf='goal.showDescription'>
          <app-quotesdetail  [goal]='goal' (isComplete) = 'deleteGoal($event,i)'></app-quotesdetail>
        </div>
      </div>
    </div>
    <div class="col-md-6 ">
      <app-quotes-form (addGoal)="addNewGoal($event)"></app-quotes-form>
    </div>
  </div>

  <p *ngIf='goals.length > 5'></p>
</div>
   